<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">GPU</th>
        <th scope="col">MEM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{server.brand}}</td>
        <td>{{server.model}}</td>
        <td>{{server.gpu}}</td>
        <td>{{server.mem}}</td>
      </tr>
      <tr>
        <td>Mikrotik</td>
        <td>1560</td>
        <td>gpuid22</td>
        <td>memid43</td>
      </tr>
      <tr>
        <td>Stack3</td>
        <td>48912</td>
        <td>gpuid65</td>
        <td>memid23</td>
      </tr>
    </tbody>
  </table>