<div class="container border-bottom text-center">
  
    <h2><b>Servers</b></h2>
  
</div>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Component A</th>
        <th scope="col">Component B</th>
        <th scope="col">Component C</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let server of servers">
      <tr>
        <td>{{server.brand}}</td>
        <td>{{server.model}}</td>
        <!-- <td>{{server.comp}}</td> -->
        <!-- <td>{{server.stack.brand}} {{server.stack.model}}</td>
        <td>{{server.stack1.brand}} {{server.stack1.model}}</td> -->
        <!-- <td><input class="form-control form-control-sm" type="number" [(ngModel)]="server.comp" (focusout)="getBrand(server)" /></td> -->
        <!-- <td>{{server.comp2}}</td> -->
        <!--<td *ngIf="server.stack.type=='gpu'">-->
        <td *ngFor="let stack of server.component">{{stack.brand}} {{stack.model}}</td>
        <!--</td> -->

        <!-- <td *ngFor="let order of stack.order">{{order.model}}</td> -->

      </tr>
    </ng-container>
    </tbody>
  </table>