<div class="container border-bottom text-center">
  
    <h2><b>Components</b></h2>
  
</div>
<div id="stackstable">
<table class="table table-striped table-hover" >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Type</th>
        <th scope="col">Stock</th>
        <th scope="col">Quantity</th>
        <!-- <th scope="col">Server Model</th>
        <th scope="col">Server Brand</th> -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let stack of stacks">
        <!-- <tr *ngIf="stack.image" [ngClass]="{'fail': stack.fail}"> -->
        <tr>
          <!-- <tr *ngIf="stack.image"> -->
          <td><img class="img-thumbnail" [src]="stack.image" width="64px" height="64px" [alt]="stack.brand+stack.model"></td>
          <td>{{stack.brand}}</td>
          <td>{{stack.model}}</td>
          <td>{{stack.type}}</td>
          <td>{{stack.stock}}</td>
          <td>
            <div class="input-group input-group-sm">
              <button type="button" class="btn btn-light btn-sm" (click)="downQuantity(stack)">-</button>
              <input class="form-control form-control-sm" type="number" [(ngModel)]="stack.quantity" (focusout)="verifyStackQuantity(stack)" />
              <button type="button" class="btn btn-light btn-sm" (click)="upQuantity(stack)">+</button>
            </div>
          </td>
          <!-- <td *ngFor="let server of stack.server">{{server.model}}</td>
          <td *ngFor="let server of stack.server">{{server.brand}}</td>
 -->
 <!-- <td *ngFor="let server of stack.server">{{ server.id }}</td> -->
 
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>