<div class="px-4 py-5 my-5 text-center row" id="about">
  <div class="col-6">
    <img class="d-block mx-auto mb-4" src="/assets/logo01.png" alt="" width="100" height="100">
    <h1 class="display-5 fw-bold">RACKS</h1>
    <p class="lead mb-4">
    <small>Manage your Server Components in this quick and intuitive interface.</small>
    </p>
  </div>
  
  <div class="col-6 col-lg-6 mx-auto">
    <h2>Street 432432</h2>
    <h3>+50 8912615689</h3>
    <h4>email@dontanswer.com</h4>
    
  </div>
</div>