<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rack of racks" [ngClass]="{'fail': rack.fail}">
        <td *ngIf="rack.image"><img class="img-thumbnail" [src]="rack.image" width="64px" height="64px" [alt]="rack.brand+rack.model"></td>
        <td *ngIf="rack.image">{{rack.brand}}</td>
        <td *ngIf="rack.image">{{rack.model}}</td>
        <td *ngIf="rack.image">{{rack.type}}</td>
        
      </tr>
      
    </tbody>
  </table>