<div class="container border-bottom text-center">
  
    <h2><b>Components</b></h2>
  
</div>
<div class="container">
<!-- <form action="/action_page.php"> -->
    <p></p>
    <form class="">
    
    <label for="fname">Brand: </label>
    <input type="text" id="brandname" name="brandname"><br><br>
    
    <label for="lname">Model: </label>
    <input type="text" id="modelname" name="modelname"><br><br>
    
    <label for="fname">Image: </label>
    <input type="url" id="imageurl" name="imageurl"><br><br>

    <label for="lname">Stock: </label>
    <input type="number" id="stock" name="stock"><br><br>

    <label for="lname">Active: </label>
    <input type="checkbox" id="isActive" name="isActive"><br><br>
    
    <input type="submit" value="Create">

  </form> 
  <p></p>
</div>