<div class="container border-bottom text-center">
  
    <h2><b>Components</b></h2>
  
</div>
<div class="container col-12" id="createform">
<!-- <form action="/action_page.php"> -->
    <p></p>
    <form class="">
    
    <div class="mb-3">
        <label for="fname">Brand: </label>
        <input type="text" id="brand" name="brand" [(ngModel)]="stack.brand"><br><br>
    </div>
    <div class="mb-3">
        <label for="lname">Model: </label>
        <input type="text" id="model" name="model" [(ngModel)]="stack.model"><br><br>
    </div>
    <div class="mb-3">
        <label for="lname">Type: </label>
        <input type="text" id="type" name="type" [(ngModel)]="stack.type"><br><br>
    </div>
    
    <div class="mb-3">
        <label for="fname">Image: </label>
        <input type="url" id="imageurl" name="imageurl" [(ngModel)]="stack.image"><br><br>
    </div>
    
    
    <div class="mb-3">
        <label for="lname">Stock: </label>
        <input type="number" id="stock" name="stock" [(ngModel)]="stack.stock"><br><br>
    </div>
    

    <label for="lname">Active: </label>
    <input type="checkbox" id="isActive" name="isActive" [(ngModel)]="stack.isActive"><br><br>
    <!--
    <select class="form-select" aria-label="Default select example" name="server" [(ngModel)]="stack.order">
        <option *ngFor="let order of orders" value="{{order.id}}">{{order.brand}} {{order.model}}</option>
      </select>
    -->

    <select class="form-select" aria-label="Default select example" name="server" [(ngModel)]="stack.order.id">
        <option *ngFor="let order of orders" [ngValue]='order.id'>{{order.brand}} {{order.model}}</option>
      </select>


    <!--<td *ngFor="let order of stack.order">{{order.model}}{{order.brand}}</td>-->

    <button type="submit" class="btn btn-primary" (click)="createStack()">Create</button>

  </form> 
  <p></p>
</div>