w-400{
    width: 200px;
}

.landing{
    width: 32% !important;
    margin: 0 auto !important;
    line-height: 1.5;
}

.blurb{
    width: 60% !important;
    margin: 0 auto !important;
    margin-bottom: 50em ;
    line-height: 1.5;
}