<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw landing">Manage and Organize your Servers Here</h1>
  <p></p>  
  <img class="d-block mx-auto mb-4" src="/assets/logo01.png" alt="" width="200" height="200" alt="logo">
    <p></p>
  <div class="col-lg-6 mx-auto w-50">
    <p class="lead mb-2 blurb">Set up your Server Components in this quick and intuitive interface. <i>Free of charge</i> until you buy.</p>
    <p></p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" [routerLink]="['/newserver']">Create Server</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4" [routerLink]="['/stacks/new']">Create Component</button>
    </div>
  </div>
</div>

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/switches.jpeg" alt="racks-image">

        <h2 class="fw-normal">Servers</h2>
        <p>This mainframe will connect all your components</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/gpu.jpeg" alt="gpu-image">

        <h2 class="fw-normal">GPUs</h2>
        <p>Fan of Games or Crypto-Mining?</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/assets/ram.jpeg" alt="ram-image">

        <h2 class="fw-normal">RAMs</h2>
        <p>How much memory does your server need?</p>
        <p><a class="btn btn-secondary" href="#">View details »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="row"><p></p></div>
    <div class="row">
      <div class="list-group col-4">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Best Server</h5>
            <p class="mb-1">MikroTik RB4011iGS</p>
            <small>3 days ago</small>
          </div>
          <div class="d-flex mb-1 mx-auto" style="width: 140px;">
            <img class="bd-placeholder-img rounded" width="140" height="49" src="/assets/Mikrotik_RB4011iGS+RM.jpeg" alt="Router_Mikrotik_RB4011iGS">
          </div>
          <small>rating: 1568</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"></h5>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
          <small class="text-muted">Price: 15623 AR$</small>
        </a>
      </div>
      
      <div class="list-group col-4">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Best GPU</h5>
            <p class="mb-1">Nvidia 3060</p>
            <small>14 hours ago</small>
          </div>
          <div class="d-flex mb-1 mx-auto" style="width: 140px;">
            <img class="bd-placeholder-img rounded" width="140" height="140" src="/assets/NVDIA3060.jpg" alt="nvidia3060-image">
          </div>
          <small>rating: 150623</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"></h5>
          </div>
          <p class="mb-1">Donec id elit non mi porta gravida at eget metus.</p>
          <small class="text-muted">Price: 150623 AR$</small>
        </a>
      </div>
      <div class="list-group col-4">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Best RAM</h5>
            <small>1 day ago</small>
          </div>
          <div class="d-flex mb-1 mx-auto" style="width: 100px;">
            <img class="bd-placeholder-img rounded" width="100" height="36" src="assets/KingstonFury8Gb.jpeg" alt="KingstonFury8Gb-image">
          </div>  
          <small>rating: 5623 </small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"></h5>
          </div>
          <p class="mb-1">Donec id elit non mi risus varius blandit.</p>
          <small class="text-muted">Price: 5623 AR$</small>
        </a>
      </div>
    </div>
    <p></p>
    <p>The primary difference between a CPU and GPU is that a CPU handles all the main functions of a computer, whereas the GPU is a specialized component that excels at running many smaller tasks at once. The CPU and GPU are both essential, silicon-based microprocessors in modern computers. In this guide, we get into detail about what a CPU and GPU is and what makes them alike and distinct. Here’s what you need to know when comparing a CPU vs. GPU.</p> 
  </div>